<div class="btn-group btn-group-justified">
	<a class="btn btn-primary sharp" href="#!/">Top 5</a>
	<a class="btn btn-primary sharp" href="#!/list_games">All Games</a>
	<!--<a class="btn btn-primary sharp" href="#!/list_players">All Players</a>-->
</div>
