<form class="form-inline">
	<div class="form-group">
		<label class="control-label col-xs-2" for="location">Ort:</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="location">
		</div>
		<span class="help-block"></span>
	</div>
</form>
