<div class="footerfix"></div>
<div class="footer navbar-fixed-bottom">
	<a href="#!/new_game" class="btn btn-lg btn-success btn-block sharp">
		<div>
			<span class="glyphicon glyphicon-plus"></span> New Game
		</div>
	</a>
</div>
