<div class="footerfix"></div>
<div class="footer navbar-fixed-bottom">
	<button type="submit" class="btn btn-lg btn-primary btn-block sharp">
		<div>
			<span class="glyphicon glyphicon-flash"></span> Save
		</div>
	</button>
</div>
