<div class="footerfix"></div>
<div class="footer navbar-fixed-bottom">
	<a href="#" class="btn btn-lg btn-success btn-block sharp">
		<div><span class="glyphicon glyphicon-plus"></span> New Player</div>
	</a>
</div>
