<div class="container">
	<h2>Your Games:</h2>
	<!-- TODO in getMyGames() -->
	<div ng-repeat="game in games| orderBy:'-date'">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#collapse{{game.id}}">
							{{game.location}}: {{game.time}} {{game.date | date : 'd MMM yyyy' }}
						</a>
					</h4>
				</div>
				<div id="collapse{{game.id}}" class="panel-collapse collapse">
					<div class="panel-body">
						Hier stehen Später die Teilnehmer des Spiels:
						<h3>Team 1:</h3>
						<ul>
							<li>Ein Mitspieler</li>
							<li>Zwei Mitspieler</li>
						</ul>
						<h3>Team 2:</h3>
						<ul>
							<li>Erster Member</li>
							<li>Zweiter Member</li>
						</ul>
					</div>
				</div>
			</div>
		 </div>
	</div>
	<h2>Other Games:</h2>
</div>

